@font-face {
  font-family: "MBC1961GulimM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(0216dc44-d5ca-460d-af4c-a7586b51bd2a.jfif);
  background-size: cover;
}

div {
  text-align: center;
}
.wrap {
  width: 900px;
  margin: 200px auto;
  padding: 40px 80px;
  background-color: rgba(173, 196, 255, 0.22);

  box-shadow: 7px 5px 12px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 80px;
  font-family: arial;
  font-weight: 900;
  text-shadow: 3px 6px 10px rgb(48, 121, 237);
}

.login {
  font-weight: 700;
  font-size: 15px;
  font-family: "MBC1961GulimM";
}

#btn_group {
  border: rgba(255, 249, 249, 0.301);
  background-color: rgba(253, 253, 253, 0.84);
  margin: auto;
  padding-top: 12px;

  width: 380px;
  border-radius: 1.5ch;
}

.button {
  font-size: 15px;
  border: rgb(223, 222, 222);
  background-color: rgb(223, 222, 222);
  padding: 5px;

  font-family: "MBC1961GulimM";
  margin-top: 10px;
  box-shadow: 7px 6px 12px rgba(0, 0, 0, 0.5);

  border-radius: 0.5ch;
}
